*.pdb
**/mutants.out*/

.idea/
*.DS_Store

# Metal traces
*.gputrace
*.trace

# Rust
/debug/
/target/
**/*.rs.bk

# Python
*__pycache__

# AI tools
.github/*.md
.cursor
.claude

# Models
/models/

# Local-only dev tools
/crates/uzu/examples/quick_chat.rs
/external

tools/gpu_trace/*.json
